<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Superhero Info</title>
</head>
<body>

<div class="container">
  <h1>Superhero Registry</h1>
  <form id="superhero-form" (ngSubmit)="onSubmit()">
    <label for="search_type">Search by:</label>
    <select id="search_type" name="search_type" [(ngModel)]="searchType">
      <option value="superhero_id">Superhero ID</option>
      <!--option value="full_name">Name</option -->
    </select>
    <label for="search_value"></label>
    <input type="text" id="search_value" name="search_value" [(ngModel)]="searchValue" required>
    <button type="submit">Get Superhero Info</button>
  </form>

  <div id="result">
    <pre>{{ result | json }}</pre>
  </div>
</div>

</body>
</html>
